body {
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
    color: #484848 !important
}

.split {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 0px;
}

.left {
    width: 35%;
    left: 0;
}

.right {
    float: right;
    width: 65%;
    right: 0;

}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.centered img {
    width: 150px;
    border-radius: 50%;
}

.image_preview {
    width: 100%;
    object-fit: cover;
    height: 200px;
    resize: none;
}

.content {
    padding: 0px 20px 0px 30px;
}

.line {
    border-bottom: 1px solid #DBDBDB;
}

.info {
    margin-top: 10px;
    margin-bottom: 5px;
}

.user {
    margin-top: 10px;
}