body {
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
    color: #484848 !important
}

.split {
    height: 100%;
    position: absolute;
    z-index: 0;
    top: 65px;
    overflow-x: hidden;
}

.left {
    width: 35%;
    left: 0;
}

.right {
    float: right;
    width: 65%;
    right: 0;
    position: absolute;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.centered img {
    width: 150px;
    border-radius: 50%;
}

.image_preview {
    width: 100%;
    object-fit: cover;
    height: 200px;
    resize: none;
}

.content {
    padding: 0px 20px 0px 30px;
}

.line {
    border-bottom: 1px solid #DBDBDB;
}

.info {
    margin-top: 10px;
    margin-bottom: 5px;
}

.user {
    margin-top: 10px;
    
}

.borda-user {
    border-width: 1px;
    border-style: solid;
    border-color:  #DBDBDB;
    margin: 0px 100px 0px 100px;
}

.nome-user {
    float: right;
    margin-right: 65%;
    margin-top: 30px;
}
.img-user {
    margin-top: 16px;
    margin-left: 20px;
}

.text-user {
    margin-left: 50px;
    text-align: justify;
    width: 80%;
} 

ul {
    list-style-type:none
}

li {
    line-height: 50px;
}

.col {
    display: flex;
}

.col-1 {
    float: left;

}

.col-2 {
    float: right;    
}

.icon {
    width: 25px;
    height: 25px;;
    vertical-align: middle;
}